{% extends 'question/base.html' %}
{% load static %}
    {% block content %}
<div class="ui clearing inverted segment">
        <h3 class="ui left floated header">
        <strong>{{user}}</strong>
        </h3>
        <h3 class="ui right floated header">
            <button onclick="window.location.href='{% url 'logout' %}'" class="ui secondary button">Logout</button>
        </h3>
    </div>
<div id="wrapper">
	<div class="main">
		<form id="paper" method="post" action=".#button">
		{% csrf_token %}


		<textarea placeholder="Question." id="question" name="question" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
		<br>

		<br>
		<div class="row">
			<div class="column left">
			
				<div id="margin">Option1: <textarea cols="30" rows="10" id="option1" type="text" name="option1"></textarea></div>
				<div id="margin">Option2: <textarea cols="30" rows="10" id="option2" type="text" name="option2"></textarea></div>
				<div id="margin">Option3: <textarea cols="30" rows="10" id="option3" type="text" name="option3"></textarea></div>
				<div id="margin">Option4: <textarea cols="30" rows="10" id="option4" type="text" name="option4"></textarea></div>
				<div id="margin" class="form-group">
					<label>Tags</label>
					<input type="text" data-role="tagsinput" class="form-control" name="tags">
				</div>
				<br>
				<button type="button" id="button-play" class="button fa fa-microphone"></button>
				<button type="button" id="button-stop" class="button fa fa-close"></button>
				
				<br>
				<button id="button"  type='submit'>submit</button>
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<strong >{{ message }}</strong> 
						{% endfor %}
					</ul>
				{% endif %}
				{% if failed %}
					<ul class="messages">
						
						<strong style="color:red" >Failed!</strong> 
					
					</ul>
				{% endif %}
				
			</div>
			<div class="column right" >
				<label class="container">
				<input type="radio" value='option1' checked="checked" name="correct">
				<span class="checkmark"></span>
				</label>
				<label class="container">
				<input type="radio" value='option2' name="correct">
				<span class="checkmark"></span>
				</label>
				<label class="container">
				<input type="radio" value='option3' name="correct">
				<span class="checkmark"></span>
				</label>
				<label class="container">
				<input type="radio" value='option4' name="correct">
				<span class="checkmark"></span>
				</label>
			</div>
			
		</div>

		</form>

	</div>
	<br><br><br>
	<div class="row mb-2 posts">
			{% for question in questions  %}
			<div class="col-md-6">
				<div class="cards">
					<div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
						<div class="col p-4 d-flex flex-column position-static">
							<h3 class="my-1"><a href="">{{question.question}}</a></h3>
							<div style="display:flex">
								{% for tag in question.tags.all %}
								<a href="" class="mr-1 badge badge-info">#{{ tag }}</a>
								{% endfor %}
							</div>
							<p class="mb-auto">{{post.description}}</p>
							<p class="mb-auto text-muted">{{post.published}}</p>
						</div>
					</div>
				</div>       
			</div>
			{% endfor %}
		</div>

</div>
{% endblock content %}
