<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

 <link rel="stylesheet" href="D:\Projects\Django\DataScience\static\question\css\styles.css">

</head>
<body>
	
    <div id="wrapper">
		<div class="sidenav">
			<a href="#about">About</a>
			<a href="#services">Services</a>
			<a href="#clients">Clients</a>
			<a href="#contact">Contact</a>
		  </div>
		  
		  <div class="main">
			<form id="paper" method="get" action="">
    
            
				<textarea placeholder="Question." id="question" name="question" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
				<br>
				
				<br>
				<div class="row">
					<div class="column left">
						<div id="margin">Option1: <textarea cols="30" rows="10" id="option1" type="text" name="option1"></textarea></div>
						<div id="margin">Option2: <textarea cols="30" rows="10" id="option2" type="text" name="option2"></textarea></div>
						<div id="margin">Option3: <textarea cols="30" rows="10" id="option3" type="text" name="option3"></textarea></div>
						<div id="margin">Option4: <textarea cols="30" rows="10" id="option4" type="text" name="option4"></textarea></div>
						<input id="button" type="submit" value="Create">
					</div>
					<div class="column right" >
						<label class="container">
						<input type="radio" checked="checked" name="radio">
						<span class="checkmark"></span>
						</label>
						<label class="container">
						<input type="radio" name="radio">
						<span class="checkmark"></span>
						</label>
						<label class="container">
						<input type="radio" name="radio">
						<span class="checkmark"></span>
						</label>
						<label class="container">
						<input type="radio" name="radio">
						<span class="checkmark"></span>
						</label>
					</div>
					
				</div>
				
			</form>
		  </div>
      
    
    </div>

    <script>
        $(document).ready(function(){
        $('#title').focus();
            $('#text').autosize();
        });

    </script>
</body>
</html>